/.org-id-locations
/autosaves/
/auto-save*/
/elpa/
/history
*.eld
/places
/recentf
/rfc/
/savehist
/straight/
/tramp
/transient/
/tree-sitter/
/projects
/eln-cache/
.aider*
/.mc-lists.el
/eaf/
/bookmarks
/.emigo_repomap/
/popweb/
/multisession
/themes
/autosave/
/saveplace
/.agent-shell/
/agent/
/url/
/.codex
/var/
/yeetube
/gnosis/
